<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaceConnect"
        tools:targetApi="31">
        <activity
            android:name=".View.Activities.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.RaceConnect" />
        <activity
            android:name=".View.Activities.MarketplaceActivity"
            android:exported="false"
            android:label="@string/title_activity_marketplace"
            android:theme="@style/Theme.RaceConnect" />

        <activity
            android:name=".View.Activities.ReelsActivity"
            android:exported="false"
            android:label="@string/title_activity_reel"
            android:theme="@style/Theme.RaceConnect" />
        <activity
            android:name=".View.Activities.NewsFeedActivity"
            android:exported="false"
            android:label="@string/title_activity_news_feed"
            android:theme="@style/Theme.RaceConnect" />
        <activity
            android:name=".View.Activities.AuthenticationActivity"
            android:exported="true"
            android:theme="@style/Theme.RaceConnect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>